html, body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #1edb17;
}
header {
    color:white;
    flex-direction: column;
    background: black;
    font-size: 3rem;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .some-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
table.countries {
    width: 80%;
    margin: 0 auto;
}
tr.selected-country {
    background: aqua !important;
}